* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #eef2f3;
  margin: 0;
}

.container {
  max-width: 500px;
  background: rgb(87, 205, 244);
  padding: 20px;
  margin: 60px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.container p {
  color: red;
  text-align: center;
}

.container h1 span {
  color: red;
}

h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.error {
  color: red;
  font-size: 0.8rem;
}

.password-box {
  position: relative;
}

.password-box span {
  position: absolute;
  right: 10px;
  top: 15px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    margin: 20px;
  }
}